<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      
        
        <form id="list" method="POST" action="/afterSignIn/Files/Star" >
        <p id="demo"> </p>
        
        
         </form>
      
    </div>
    
    <script type="text/javascript">
    $(document).ready(function() {
       
                    
        				$.get("/afterSignIn/listfiles",{val:"aviralkum@gmail.com"},function(data){
        				
        				for(i=0;i<data.length;i++)
        				{
        				// create elements and display the list
        				console.log(data.length);
        				// create an element
        				function myfunc()
        				{
        				
        				}
        			
        		    var para = document.createElement("p");
        		    	var test = document.createElement("input");
        		   // 	var break = document.createElement("BR");
        				test.id=i;
        				para.id="name"+i;
        				test.type="checkbox";
        				test.value=data[i];
        				test.name = data[i];
        			    test.onclick = myfunc;
        				// assign id to the created element
        				//para.id=i;
        				var node = document.createTextNode(data[i]);
        		
        				var ele = document.getElementById("list");
        				test.appendChild(node);	
        		
        			    ele.appendChild(para);
        				ele.appendChild(test);
        			//	ele.appendChild(break);
        			document.getElementById("demo").innerHTML=data[i];
      document.getElementById("name"+i).innerHTML= data[i];
       
        				
        				}
        				
        					var submit = document.createElement("button");
        				var att = document.createAttribute("class");
        				att.value = "btn btn-primary";
        				submit.setAttributeNode(att);
        				submit.type="submit";
        				submit.id="star";
        				submit.style.width="70px";
        				submit.style.height="25px";
        				var element = document.getElementById("list");
        				element.appendChild(submit);
             
       
   });
   });
   
   
  </script>
  </body>
</html>
