<html>
<head>
<title>Login</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
     <div class="sign-up"> 
     <a href="/signup">Create an account </a> 
     </div>
	<div class="container-fluid">
		<div class="row">
		     
			<form action="/afterSignIn" method="post" class="afterSignIn">
	
				<!-- This panel is for login -->
				<div class="panel panel-success">
					<!-- Default panel contents -->
					<div class="panel-heading">Login</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="inputUsername"
									class="col-sm-2 control-label pull-left">Enter your
									Email id</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" name="inputUsername"
										id="inputUsername" placeholder="Email Id">
								</div>
								
							</div>
							<div class="form-group">
								<label for="inputPassword">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control"
										name="inputPassword" id="inputPassword" placeholder="Password">
								</div>
							</div>

							<div class="form-group">
								<div class="pull-left signIn">
									<button type="submit" class="btn btn-primary">Sign in</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class = "image"> </div>
	<div class ="image2"> </div>
	
</body>

</html>