<!DOCTYPE html>
<html>
  <head>
    <title>Successful Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <div id="demo2">Welcome To DropBox <%= data[0].username %> </div>
    <p id="Email"><%= data[0].username%></p>
    
      <div class="links">
      
 
      <br>
      <a href = "/afterSignIn/Files">Files</a>
      
      </div>
      
    <div class="form-buttons">
    	<div class="buttons">
   		 <form method="post" action="/afterSignIn/FileUpload" enctype="application/x-www-form-urlencoded">
   		 <input type="file" id="upload" name="filename"  onclick="check()">
   		 <input type="hidden" name="emailid" value=<%= data[0].username%>>
   		 <input type="submit" value="upload" id="submit">
    	</form>
    		<button type="button" id="share">Share Folder</button>
    		<button type="button" id="dir">Create Directory</button>
    	</div>
    <textarea rows="17" cols="50" id="listdisplay" placeholder="No Starred Files" wrap="on">
        
    </textarea>
    	<script type="text/javascript">
    			// jquery executed when enter button is pressed
    		
    		
    			function check()
    			{
    	
    			//document.getElementById("demo").value=document.getElementById("demo2").innerHTML;
    		
        		         
    			}
        
        
        
              // Jquery to create a directory
                              
    			$(document).ready(function() {
     
                       console.log("inside ready");
    				$("#dir").click(function() {
    
                    
        				$.get("/afterSignIn/createdir",{val:document.getElementById("Email").innerHTML},function(data){
             
                         });
        
        
                       });
     
                  
   }); 
     
     // below function will display the starred files by the user on the home page.
    
                   $(document).ready(function() {
    
                   	
    
                    
        				$.get("/afterSignIn/st",{val:document.getElementById("Email").innerHTML},function(data){
        				
        				
        				
        				document.getElementById("listdisplay").innerHTML=data;
             
       
   });
  
     
     });      
    
    </script>
    </div>  
  </body>
</html>